<ion-view title="Create Paath">
    <ion-nav-buttons side="secondary">
        <button ng-click="vm.createPaath()" class="button button-clear" ng-class="{'button-stable': !vm.data.formValid}">Create</button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <form>
            <div class="list">
                <label class="item item-input item-input-fancy">
                    <input type="text" placeholder="Paath Title" ng-model="vm.data.title">
                </label>
            </div>
        </form>

        <paath-users users="vm.users" on-add-user="vm.addUser()" email-input="vm.addUserFormEmail"></paath-users>
    </ion-content>
</ion-view>