.alert {
    padding: 12px;
    margin-bottom: 17px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.alert-danger {
    background-color: #e55869;
    border-color: transparent;
    color: #ffffff;
}

button.alert-danger:hover{
    background-color: #CA3C4D;
}