.button-primary{
	background-color: #62a8ea;
    border-color: #62a8ea;
	color: white;
	
	&.activated {
		background-color: #5496D6;
    	border-color: #8AA9C5;
	}
}

.button.button-primary.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #62a8ea;
}

.btn-floating{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-webkit-tap-highlight-color: transparent;
	outline: 0;
	border: none;
	text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
	
	display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 0;
    background-color: #62a8ea;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
	
	line-height: 56px;
	
	width: 55.5px;
    height: 55.5px;
	
	i {
		line-height: 55.5px;
		font-size: 1.6rem;
		width: inherit;
		display: inline-block;
		text-align: center;
		color: #fff;
	}
}