.log-time{
    font-size: 0.8em;
    margin-left: 5px;
    color: #76838f;
    position: absolute;
    right: 35px;
    top: 26px;
}

.log-subtext{
    font-size: 0.8em;
    color: #76838f;
    display: block;
}