.pane-login{
	//background: url('/imgs/login-bg.jpg') center;
	//background-size: cover;
    
	.list{
		margin-top: 15px;
	}
	
	.item-input{
		margin-bottom: 5px;
	}
	
	.login-logo{
		text-align: center;
		margin-top: 10px;
		
		img{
			width: 270px;
		}
	}
}