.pane-paathDetails{
	.nextAng{
		text-align: center;
        color: #3C3C3C;
        font-weight: 100;
        margin-top: 10px;
        line-height: 20px;
        margin: 12px;
        font-size: 16px;
	}
    
    .progressCircle-text{
        top: 44%;
    }
    
    .progressCircle-text .paathPercentage{
        margin-bottom: 15px;
        color: #62a8ea;
    }
}

.userPaathStatus{
	position: relative;
    margin: 0 14px 9px;
    border-radius: 5px;
    padding: 10px 10px 2px 10px;
    background-color: #dfe9ef;
    color: #76838f;
    overflow: hidden;
}

.userPaathStatus-name{
	font-weight: bold;
    font-size: 15px;
	margin-right: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
}

.userPaathStatus-latest{
    p:last-child{
        margin-bottom: 0;
    }
    
    .userPaathStatus-latest-finishingPankti{
        font-style: italic;
        font-size: 0.9em;
    }
}
.userPaathStatus-time {
    position: absolute;
    top: 10px;
    right: 6px;
	color: #a3afb7;
}

.userPaathStatus-social{
    float: left;
    
    .button{
        font-size: 14px;
       
    }
}

.userPaathStatus-actions{
    float: right;
    margin-top: 6px;
}