.paaths-icon{
	padding-right: 50px;
}

.paaths-icon-text{
	font-size: 10px;
    position: absolute;
    bottom: -10px;
    left: 22%;
    transform: translateY(-50%) translateX(-50%);
}

.hd-stat {
    color: #5F5E5E;
    font-weight: 100;
    font-size: 20px;
}