.progressCircle-wrapper{
	text-align: center;
	position: relative;
    margin-bottom: 10px;
}

.progressCircle-text{
	position: absolute;
    top: 50%;
    bottom: auto;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 24.2857px;
    color: #bbb;
    font-weight: 100;
    line-height: 1;
}

.progressCircle-text-stats{
    font-size: 15px;
    margin-bottom: 10px;
    
    &:last-child{
        margin-bottom: 0;
    }
}