<ion-view title="Add Paath">
    <ion-content padding="false" class="has-header">
        <form class="list">
            <label class="item item-input" name="StartingAng">
                <input type="number" placeholder="Starting Ang">
            </label>
            <label class="item item-input" name="FinishingAng">
                <input type="number" placeholder="Finishing Ang">
            </label>
            <label class="item item-input" name="FinishingAng">
                <input type="text" placeholder="Finishing Pankti">
            </label>
            <label class="item item-select" name="AssingTo">
                <span class="input-label">Who's going to do it?</span>
                <select></select>
            </label>
            <label class="item item-select" name="PaathStatus">
                <span class="input-label">Status</span>
                <select></select>
            </label>
        </form>
        
        <button class="button button-positive button-block ">Add</button>
    </ion-content>
</ion-view>