<ion-view title="Create Paath">
    <ion-nav-buttons side="secondary">
        <button ng-click="vm.createPaath()" class="button button-clear" ng-class="{'button-stable': !vm.data.formValid}">Create</button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <form>
            <div class="list">
                <label class="item item-input item-input-fancy">
                    <input type="text" placeholder="Paath Title" ng-model="vm.data.title">
                </label>
            </div>
        </form>
        
        <div class="card list">
            <div class="item item-divider">Add People</div>
            <div class="item item-body">
                <form class="list m-b-none" novalidate name="vm.addPeopleForm">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input 
                                name="email"
                                type="email" 
                                placeholder="Email" 
                                ng-model="vm.data.email">
                        </label>
                        <button class="button button-small button-primary" ng-click="vm.addPerson()">
                            Add
                        </button>
                    </div>
                </form>
                <ion-list>
                    <ion-item ng-repeat="person in vm.people track by person._id">
                        {{person | name}}
                    </ion-item>
                </ion-list>
            </div>
        </div>

    </ion-content>
</ion-view>