<ion-view title="Our Sehaj Paath">
    <ion-content padding="false" class="has-header">
        <ion-list>
            <ion-item menu-close="">1 - 20 (Done)</ion-item>
            <ion-item menu-close="">21 (Requires doing)</ion-item>
            <ion-item menu-close="">22-24 (in progress)</ion-item>
            <ion-item menu-close="">25 (in progress)</ion-item>
        </ion-list>
        
        <a menu-close="" href="#/add-paath" class="button button-balanced button-block ">Add Paath</a>
    </ion-content>
</ion-view>