<ion-view title="Group Sehaj Paaths">
    <ion-nav-buttons side="secondary">
        <a menu-close="" href="#/create-paath" class="button button-icon icon ion-plus-round"></a>
    </ion-nav-buttons>
    
    <ion-content padding="false" class="has-header">
        <ion-list>
            <ion-item  ng-repeat="paath in paaths" menu-close="" href="#/paaths/{{paath._id}}" class="item-icon-right">
                {{paath.title}}
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>