<ion-view title="{{paath.title}}">
    <ion-nav-buttons side="secondary">
        <a menu-close="" href="#/paaths/{{paath._id}}/settings" class="button button-icon icon ion-ios-cog"></a>
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header">
        <ion-list>
            <ion-item ng-repeat="log in paath.logs">
                {{log.startAng}} - {{log.finishAng}} ({{log.status}})
            </ion-item>          
        </ion-list>

        <a menu-close="" href="#/paaths/{{paath._id}}/add-paath-log" class="button button-positive button-block ">Add Paath</a>
    </ion-content>
</ion-view>