<ion-view title="{{vm.newPaathLog ? 'Add Log' : 'Update Log'}}">
    <ion-content padding="false" class="has-header">
        <h1 class="hd-stat center m-t-lg" ng-if="vm.newPaathLog">Next Available Ang: {{vm.paath.nextAvailableAng}}</h1>
        <div class="center m-b-lg" ng-show="vm.paath.missingAngs.length > 0">
            <button class="button button-small button-assertive" ng-click="vm.showMissingAngs()">Show Missing Angs</button>
        </div>
        
        <form class="list" name="paathLogForm" novalidate ng-submit="vm.updatePaathLog(paathLogForm.$valid)">
            <label class="item item-input item-floating-label">
                <span class="input-label">Starting Ang *</span>
                <input 
                    name="startAng"
                    type="number" 
                    placeholder="Starting Ang" 
                    ng-model="vm.data.startAng"
                    autocomplete="off"
                    required
                    min="1"
                    ng-max="vm.paath.nextAvailableAng">
            </label>
            <div ng-show="paathLogForm.$submitted || paathLogForm.startAng.$dirty">
                <div ng-show="paathLogForm.startAng.$error.required" class="form-error">
                    This is required
                </div>
                <div ng-show="paathLogForm.startAng.$error.min" class="form-error">
                    Must be greater than 1
                </div>
                <div ng-show="paathLogForm.startAng.$error.max" class="form-error">
                    Must be less than {{vm.paath.nextAvailableAng}}
                </div>
            </div>
            
            <label class="item item-input item-floating-label">
                <span class="input-label">Finishing Ang</span>
                <input 
                    name="finishAng"
                    type="number" 
                    placeholder="Finishing Ang"
                    ng-model="vm.data.finishAng"
                    ng-required="vm.data.selectedStatus.finished"
                    ng-min="vm.data.startAng + 1"
                    autocomplete="off"
                    max="1430">
            </label>
            <div ng-show="paathLogForm.$submitted || paathLogForm.finishAng.$dirty">
                <div ng-show="paathLogForm.finishAng.$error.required" class="form-error">
                    This is required
                </div>
                <div ng-show="paathLogForm.finishAng.$error.min" class="form-error">
                    Must be greater than the starting ang
                </div>
                <div ng-show="paathLogForm.finishAng.$error.max" class="form-error">
                    Must be less than 1430
                </div>
            </div>
            <label class="item item-input item-floating-label">
                <span class="input-label">Finishing Pankti</span>
                <input 
                    name="nextPantki"
                    type="text" 
                    placeholder="Finishing Pankti"
                    autocomplete="off"
                    ng-model="vm.data.nextPankti">
            </label>
            <label class="item item-input item-select">
                <span class="input-label">Status *</span>
                <select
                    name="logStatus"
                    ng-options="logStatus as logStatus.title for logStatus in vm.paathLogStatus" 
                    ng-model="vm.data.selectedStatus"
                    required
                    >
                    <option value="">-- Please Choose --</option>
                </select>
            </label>
            <div ng-show="paathLogForm.logStatus.$error.required && (paathLogForm.$submitted || paathLogForm.logStatus.$dirty)" class="form-error">
                    Please choose a status
            </div>
            
            <button type="submit" class="button button-positive button-full">{{vm.newPaathLog ? "Add" : "Update"}}</button>        
        </form>
        
        <button class="button button-assertive button-full" ng-click="vm.deletePaathLog()" ng-if="!vm.newPaathLog">Delete</button>
        
    </ion-content>
</ion-view>