<ion-view view-title="{{vm.newPaathLog ? 'Add Log' : 'Update Log'}}">
    <ion-content padding="false" class="has-header" ng-cloak>
        <div ng-if="vm.newPaathLog">
            <h1 class="hd-stat center m-t-lg">Next Available Ang: {{vm.paath.nextAvailableAng}}</h1>
            <missing-angs angs="vm.paath.missingAngs"></missing-angs>
        </div>
        <div ng-if="!vm.newPaathLog">
            <h1 class="hd-stat center m-t-lg">Paathi: {{vm.data.userId | nameById}}</h1>
        </div>
        
        <form class="list" name="paathLogForm" novalidate ng-submit="vm.updatePaathLog(paathLogForm.$valid)">
            <label class="item item-input item-floating-label">
                <span class="input-label">Starting Ang *</span>
                <input 
                    name="startAng"
                    type="number" 
                    placeholder="Starting Ang" 
                    ng-model="vm.data.startAng"
                    ng-model-options='{ debounce: 200 }'
                    autocomplete="off"
                    required
                    min="1"
                    ng-max="vm.paath.nextAvailableAng"
                    ng-disabled="!vm.isAllowedToEdit">
            </label>
            <div ng-show="paathLogForm.$submitted || paathLogForm.startAng.$dirty">
                <div ng-show="paathLogForm.startAng.$error.required" class="form-error">
                    Starting Ang is required
                </div>
                <div ng-show="paathLogForm.startAng.$error.min" class="form-error">
                    Starting Ang must be greater than 1
                </div>
                <div ng-show="paathLogForm.startAng.$error.max" class="form-error">
                    Starting Ang cannot be greater than {{vm.paath.nextAvailableAng}}
                </div>
            </div>
            
            <label class="item item-input item-floating-label">
                <span class="input-label">Finishing Ang *</span>
                <input 
                    name="finishAng"
                    type="number" 
                    placeholder="{{ vm.isAllowedToEdit ? 'Finishing Ang' : 'No Finishing Ang'  }}"
                    ng-model="vm.data.finishAng"
                    ng-model-options='{ debounce: 300 }'
                    required
                    ng-min="vm.data.startAng + 1"
                    autocomplete="off"
                    max="1430"
                    ng-disabled="!vm.isAllowedToEdit">
            </label>
            <div ng-show="paathLogForm.$submitted || paathLogForm.finishAng.$dirty">
                <div ng-show="paathLogForm.finishAng.$error.required" class="form-error">
                    Finishing Ang is required
                </div>
                <div ng-show="paathLogForm.finishAng.$error.min" class="form-error">
                    Finishing Ang must be greater than the starting ang
                </div>
                <div ng-show="paathLogForm.finishAng.$error.max" class="form-error">
                    Finishing Ang be must not be greater than 1430
                </div>
            </div>
            <label class="item item-input item-floating-label">
                <span class="input-label">Next Pankti</span>
                <input 
                    name="nextPantki"
                    type="text" 
                    placeholder="{{ vm.isAllowedToEdit ? 'Next Pankti' : 'Paathi sahib didn\'t enter next pankti'  }}"
                    autocomplete="off"
                    ng-model="vm.data.nextPankti"
                    ng-disabled="!vm.isAllowedToEdit">
            </label>
            <label class="item item-input item-select" ng-class="{ 'item-select-disabled': !vm.isAllowedToEdit }">
                <span class="input-label">Status *</span>
                <select
                    name="logStatus"
                    ng-options="logStatus as logStatus.title for logStatus in vm.paathLogStatus" 
                    ng-model="vm.data.selectedStatus"
                    required
                    ng-disabled="!vm.isAllowedToEdit">
                    <option value="">-- Please Choose --</option>
                </select>
            </label>
            <div ng-show="paathLogForm.logStatus.$error.required && (paathLogForm.$submitted || paathLogForm.logStatus.$dirty)" class="form-error">
                    Paath Status is required
            </div>

            <div ng-if="vm.isAllowedToEdit">
                <button type="submit" class="button button-positive button-full"  no-internet-disable>{{vm.newPaathLog ? "Add" : "Update"}}</button> 
                <button class="button button-assertive button-full" ng-click="vm.deletePaathLog()" ng-if="!vm.newPaathLog"  no-internet-disable>Delete</button>
            </div>
        </form>
    </ion-content>
</ion-view>