<ion-view view-title="History Logs">
    <ion-content padding="false" class="has-header">
        <ion-list>
            <ion-item 
                ng-repeat="log in vm.paathLogs"
                href="#/tab/paaths/{{log.paathId}}/paath-log/{{log._id}}"
                class="item-icon-right">
                <span ng-if="log.finishAng">
                    {{log.startAng}} - {{log.finishAng}}
                </span>
                <span ng-if="!log.finishAng">
                    {{log.startAng}}+
                </span>
                
                <span class="log-subtext">{{log.status}} - {{log.userId | nameById}}</span>
                <span class="log-time">
                    {{log.updatedDate | calendar}}
                </span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>          
        </ion-list>
    </ion-content>
</ion-view>