<ion-view title="Settings">
    <ion-content padding="false" class="has-header">
        <form class="list">
            <label class="item item-input" name="title">
                <span class="input-label">Title</span>
                <input type="text" placeholder="Enter title for paath" ng-model="vm.paath.title">
            </label>
        </form>
        <div class="list card">
            <div class="item item-divider">People</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="search" placeholder="Enter person code">
                    </label>
                    <ion-item menu-close="">Jaspreet Singh</ion-item>
                    <ion-item menu-close="">Kamapreet Singh</ion-item>
                </form>
            </div>
        </div>
        <button class="button button-assertive button-block" ng-click="vm.deletePaath()">Delete</button>
    </ion-content>
</ion-view>